<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
<h1> Welcome! Please enter your username and password to begin. </h1>
<form method = "post" action = "calculator_app_page1">
<h3> Username </h3>
<input type = "text" name = "user_name_input" required autofocus>
<h3> Password </h3>
<input type = "password" name = "password_input" required>
<br><br>
<input class = "button" type = "submit" value = "Log in" onclick>
<hr>
<%=error%>
</form>
</body>
</div>

